html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%; /* added */
  display: grid;
}

* {
  box-sizing: border-box;
}
